/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

header,
footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main{
    padding: 2em;
}

section {
  margin-bottom: 2em;
}

#student-form {
  display:flex;
  flex-direction: column;
  gap: 1em;
}

#student-form button {
    background-color:#289eec;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 5px;
}

#student-form button:hover {
    background-color: #0a72c2;
}

#student-table table {
  width: 100%;
  border-collapse: collapse; 
}

#student-table th,
#student-table td {
  border: 1px solid #ddd;
  padding: 0.75em;
  text-align: left;
}

#student-table th {
  background-color: #2c3e50;
  color: #fff;
}

/* === NAVBAR STYLES === */
.navbar {
  background-color: #2c3e50;
  padding: 1em 2em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #3498db;
}
